{{!-- =========================================================================================    --}}
{{!-- NAVBAR --}}
{{!-- =========================================================================================    --}}

<div id="dashboard">
    <div class="container">
        <div class="row">
            <div class="col-12 dash">
                <h2 class="col-sm-9">Welcome, {{data.username}}</h2>

                {{!-- Friends button --}}
                <a href="/api/friends/{{data.id}}"><button class="btn-outline-success" id="friends">Friends</button></a>
                {{!-- Workout button --}}
                <a href="/workout/{{data.id}}"><button class="btn-outline-success" id="workout">Workout</button></a>
            </div>
        </div>
        <br>
        <br>
        <!--Workout History Table-->
        <div class="container">
            <h2>Workout History</h2>
        </div>

        <div class="container workout-card">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Activity</th>
                        <th scope="col">Start</th>
                        <th scope="col">End</th>
                        {{!-- <th scope="col">Edit</th> --}}
                    </tr>
                </thead>
                <tbody>
                    {{#each data.Cardios}}
                    <tr>
                        <td>{{dataValues.cardio_act}}</td>
                        <td>{{dataValues.start}}</td>
                        <td>{{dataValues.end}}</td>
                        {{!-- <td>
                            <button data-type="cardio" type="button" class="btn btn-danger">Remove</button>
                        </td> --}}
                    </tr>
                    {{/each }}
                </tbody>
            </table>
        </div>
        <div class="container workout-card">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Activity</th>
                        <th scope="col">Start</th>
                        <th scope="col">End</th>
                        {{!-- <th scope="col">Edit</th> --}}
                    </tr>
                </thead>
                <tbody>
                    {{#each data.Minds}}
                    <tr>
                        <td>{{dataValues.mind_act}}</td>
                        <td>{{dataValues.start}}</td>
                        <td>{{dataValues.end}}</td>
                        {{!-- <td>
                            <button data-type="mind" type="button" class="btn btn-danger">Remove</button>
                        </td> --}}
                    </tr>
                    {{/each }}
                </tbody>
            </table>
        </div>
        <div class="container workout-card">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Activity</th>
                        <th scope="col">Start</th>
                        <th scope="col">End</th>
                        {{!-- <th scope="col">Edit</th> --}}
                    </tr>
                </thead>
                <tbody>
                    {{#each data.Strengths}}
                    <tr>
                        <td>{{dataValues.strength_act}}</td>
                        <td>{{dataValues.start}}</td>
                        <td>{{dataValues.end}}</td>
                        {{!-- <td>
                            <button data-type="strength" type="button" class="btn btn-danger">Remove</button>
                        </td> --}}
                    </tr>
                    {{/each }}
                </tbody>
            </table>
        </div>
    </div>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/index.js"></script>

{{!-- This is for the future in case we want to create a 'remove' button --}}

    {{!-- <script>
        console.log('id form url', window.location.pathname)
        var id = window.location.pathname.substring(window.location.pathname.lastIndexOf('/') + 1)
        console.log('This is our id!!! for the dash', id)
        $(document).on("click", "button", function () {
            console.log("I've been clicked");
            var dataType = $(this).attr("data-type")
            $.post("/api/workout/" + id, {
                workout_type: dataType
            }).then(function (res) {
                if (res.statusCode === 204) {
                    location.reload();
                }
            });
        })
    </script> --}}