{{!-- =========================================================================================    --}}
{{!-- NAVBAR --}}
{{!-- =========================================================================================    --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a href="/"><img class="logo" src="/assets/images/sweati-logo@2x.png"></a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                {{!-- <a class="nav-link" href="#">Friends <span class="sr-only">(current)</span></a> --}}
            </li>

        </ul>
        {{!-- Friends button --}}
        <a href="/api/friends/{{data.id}}"><button class="btn btn-outline-success my-2 my-sm-0 nav-btn" id="friends">My Friends</button></a>
        {{!-- Workout button --}}
        <a href="/workout/{{data.id}}"><button class="btn btn-outline-success my-2 my-sm-0 nav-btn" id="workout">Workout</button></a>
    </div>
</nav>







{{!-- =========================================================================================    --}}
{{!-- NAVBAR --}}
{{!-- =========================================================================================    --}}

<div id="dashboard">
    <div class="container">
        <div class="row">
        </div>
        <br>
        <br>
        <!--Workout History Table-->
        <div class="container">
            <h2>Welcome, {{data.username}}</h2>
            <h4>Workout History</h4>
        </div>

        <div class="container workout-card">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Activity</th>
                        <th scope="col">Start</th>
                        <th scope="col">End</th>
                        {{!-- <th scope="col">Edit</th> --}}
                    </tr>
                </thead>
                <tbody>
                    {{#each data.Cardios}}
                    <tr>
                        <td>{{dataValues.cardio_act}}</td>
                        <td>{{dataValues.start}}</td>
                        <td>{{dataValues.end}}</td>
                        {{!-- <td>
                            <button data-type="cardio" type="button" class="btn btn-danger">Remove</button>
                        </td> --}}
                    </tr>
                    {{/each }}
                </tbody>
            </table>
        </div>
        <div class="container workout-card">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Activity</th>
                        <th scope="col">Start</th>
                        <th scope="col">End</th>
                        {{!-- <th scope="col">Edit</th> --}}
                    </tr>
                </thead>
                <tbody>
                    {{#each data.Minds}}
                    <tr>
                        <td>{{dataValues.mind_act}}</td>
                        <td>{{dataValues.start}}</td>
                        <td>{{dataValues.end}}</td>
                        {{!-- <td>
                            <button data-type="mind" type="button" class="btn btn-danger">Remove</button>
                        </td> --}}
                    </tr>
                    {{/each }}
                </tbody>
            </table>
        </div>
        <div class="container workout-card">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Activity</th>
                        <th scope="col">Start</th>
                        <th scope="col">End</th>
                        {{!-- <th scope="col">Edit</th> --}}
                    </tr>
                </thead>
                <tbody>
                    {{#each data.Strengths}}
                    <tr>
                        <td>{{dataValues.strength_act}}</td>
                        <td>{{dataValues.start}}</td>
                        <td>{{dataValues.end}}</td>
                        {{!-- <td>
                            <button data-type="strength" type="button" class="btn btn-danger">Remove</button>
                        </td> --}}
                    </tr>
                    {{/each }}
                </tbody>
            </table>
        </div>
    </div>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/index.js"></script>

    {{!-- This is for the future in case we want to create a 'remove' button --}}

    {{!-- <script>
        console.log('id form url', window.location.pathname)
        var id = window.location.pathname.substring(window.location.pathname.lastIndexOf('/') + 1)
        console.log('This is our id!!! for the dash', id)
        $(document).on("click", "button", function () {
            console.log("I've been clicked");
            var dataType = $(this).attr("data-type")
            $.post("/api/workout/" + id, {
                workout_type: dataType
            }).then(function (res) {
                if (res.statusCode === 204) {
                    location.reload();
                }
            });
        })
    </script> --}}